USE [master]
GO
/****** Object:  Database [PreguntadosBd(Prog)]    Script Date: 3/10/2025 13:37:58 ******/
CREATE DATABASE [PreguntadosBd(Prog)]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PreguntadosBd(Prog)', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PreguntadosBd(Prog).mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PreguntadosBd(Prog)_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PreguntadosBd(Prog)_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PreguntadosBd(Prog)].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PreguntadosBd(Prog)]
GO
/****** Object:  User [alumno]    Script Date: 3/10/2025 13:37:59 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 3/10/2025 13:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 3/10/2025 13:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[IdPregunta] [int] IDENTITY(1,1) NOT NULL,
	[IdCantegoria] [int] NULL,
	[Enunciado] [varchar](50) NULL,
 CONSTRAINT [PK_Preguntas] PRIMARY KEY CLUSTERED 
(
	[IdPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuestas]    Script Date: 3/10/2025 13:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestas](
	[IdRespuestas] [int] IDENTITY(1,1) NOT NULL,
	[idPregunta] [int] NOT NULL,
	[Opcion] [int] NULL,
	[Contenido] [varchar](50) NULL,
	[Correcta] [bit] NULL,
 CONSTRAINT [PK_Respuestas_1] PRIMARY KEY CLUSTERED 
(
	[IdRespuestas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [Nombre]) VALUES (1, N'Geograf?½a')
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre]) VALUES (2, N'Historia')
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre]) VALUES (3, N'Ciencia')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Preguntas] ON 

INSERT [dbo].[Preguntas] ([IdPregunta], [IdCantegoria], [Enunciado]) VALUES (13, 1, N'?½Cu?½l es la capital de Italia?')
INSERT [dbo].[Preguntas] ([IdPregunta], [IdCantegoria], [Enunciado]) VALUES (19, 1, N'?½Qu?½ r?½o pasa por Egipto?')
INSERT [dbo].[Preguntas] ([IdPregunta], [IdCantegoria], [Enunciado]) VALUES (24, 2, N'?½En qu?½ a?½o termin?½ la Primera Guerra Mundial?')
SET IDENTITY_INSERT [dbo].[Preguntas] OFF
GO
SET IDENTITY_INSERT [dbo].[Respuestas] ON 

INSERT [dbo].[Respuestas] ([IdRespuestas], [idPregunta], [Opcion], [Contenido], [Correcta]) VALUES (2, 13, 1, N'Roma', 1)
INSERT [dbo].[Respuestas] ([IdRespuestas], [idPregunta], [Opcion], [Contenido], [Correcta]) VALUES (3, 13, 2, N'Mil?½n', 0)
INSERT [dbo].[Respuestas] ([IdRespuestas], [idPregunta], [Opcion], [Contenido], [Correcta]) VALUES (4, 13, 3, N'Venecia', 0)
SET IDENTITY_INSERT [dbo].[Respuestas] OFF
GO
ALTER TABLE [dbo].[Preguntas]  WITH CHECK ADD  CONSTRAINT [FK_Preguntas_Categorias] FOREIGN KEY([IdCantegoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Preguntas] CHECK CONSTRAINT [FK_Preguntas_Categorias]
GO
USE [master]
GO
