@{
    ViewData["Title"] = "Index";
}

<div>
    <img src="~/Imagenes/LogoPreguntados.png" alt="Logo">
    <h1>Bienvenidos al Preguntados Ort</h1>
    <button> <a  href= '@Url.Action("ConfigurarJuego", "Home")' alt = "Ir al "> Jugar </a> </button>
</div>
